/ {
  keymap {
    compatible = "zmk,keymap";

    layers {

      colemak {
        bindings = <
          &kp Q    &kp W    &kp F    &kp P    &kp B
          &kp A    &kp R    &kp S    &kp T    &kp G
          &kp Z    &kp X    &kp C    &kp D    &kp V
          &mo FN   &kp SPACE &kp ENTER &mo QWERTY &kp ESC
        >;
      };

      qwerty {
        bindings = <
          &kp Q    &kp W    &kp E    &kp R    &kp T
          &kp A    &kp S    &kp D    &kp F    &kp G
          &kp Z    &kp X    &kp C    &kp V    &kp B
          &mo FN   &kp SPACE &kp ENTER &mo COLEMAK &kp ESC
        >;
      };

      fn {
        bindings = <
          &kp 1    &kp 2    &kp 3    &kp 4    &kp 5
          &kp LEFT &kp DOWN &kp UP   &kp RIGHT &kp TAB
          &kp EXCL &kp AT   &kp HASH &kp DOLLAR &kp PERCENT
          &trans   &trans   &trans   &mo BT     &trans
        >;
      };

      bt {
        bindings = <
          &bt 0      &bt 1      &bt 2      &bt 3      &bt 4
          &bt_clear  &bootloader &reset    &trans     &trans
          &trans     &trans     &trans     &trans     &trans
          &trans     &trans     &trans     &trans     &trans
        >;
      };

    };
  };
};
